div {
  display: flex;
}
.clock-page {
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.laps{
  display:flex;
  flex-direction: column;
}
.Time{
  margin-left: 100px;
}
.Timer{
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  font-weight: 900;
  font-size:2rem;
}
.clock-button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  background: #ccc;
  cursor: pointer;
}

.clock-button:hover{
  background: #eee;
}
.pomodoro-clock-header {
  text-align: center;
  margin-top: 25px;
}

.pomodoro-clock-header-name {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  background-color: #818181;
  padding: 0px 10px;
}

.pomodoro-clock-header-name::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: -1;
}
.laps{
  color:white;
  font-size: 2rem;
}


.Countdown{
  background-color: #414141;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hour1{
  display:flex;
  flex-direction: column;


  
}
.min1{
  display:flex;
  flex-direction: column;
}
.sec1{
  display:flex;
  flex-direction: column;
}
.Countdown-time{
  color:white;
  font-size: 2rem;
  padding-left: 8px;
}
.buttonTimer{
outline: none;
color:white;
font-size: 1rem;
border:1px solid yellow; 
width:100px;
height: 50px;
background-color: #414141;
border-radius: 0 20px;

}
.buttonTimer:hover{
  background-color:#818181;
}
.incHour{
outline: none;
background-color: #414141;
width:50px;
height: 50px;

border-radius: 20px;
border:none;
}
.incHour:hover{
  background: #818181;
}
.decHour{
  outline: none;
  background-color: #333;
  width:50px;
  height: 50px;
  background-color: #414141;
  
  }

@media (min-width: 768px) {
  .pomodoro-clock {
    width: 768px;
    margin: 0 auto;
  }
  .pomodoro-clock-header-name::before {
    top: 50%;
    left: -50%;
    width: 200%;
  }
}